# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Distribution / Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# IDE Settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Test Cache
# -----------------------------
.pytest_cache/

# -----------------------------
# Log Files
# -----------------------------
*.log